:root {
    --main-grey: #8a959b;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-grey);
    background-color: var(--main-grey);
}
.container {
    padding: 0;
    margin: 20px;
    display: block;
}
h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 39pt;
}
h2 {
    font-weight: 700;
    margin: 0;
    font-size: 30pt;
}
.box {
    display: block;
    position: relative;
    margin-left: auto;
    width: 26mm;
    height: 3mm;
    background-color: var(--main-grey);
    margin: 14mm 0 3mm 0;
}
section {
    font-size: 21pt;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    display: block;
}
input {
    display: block;
    border:none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 21pt;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.funkce {
    display: block;
    margin-left: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--main-grey);
}
.jmeno {
    font-weight: 700;
    color: black;
}

*:focus {
    outline: none;
}
.tisk {
    position: relative;
    visibility: visible;
    padding: 13mm 17mm 13mm 17mm;
    margin: auto;
    display: block;
    box-sizing: border-box;
    width: 210mm;
    height: 296mm;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.3);
    background-color: white;
}
footer {
    display: block;
    position: absolute;
    bottom: 13mm;
    width: 46mm;
    height: 12mm;
    background: no-repeat url("logo.svg");
}
.ovladac {
    font-size: 9pt;
    display: block;
    position: absolute;
    padding-top: 3mm;
    right: 17mm;
}
.ovladac a {
    color: blueviolet;
    border-bottom: 1px dotted; 
    text-decoration: none;
    margin-left: 5mm;
}
@media print {
    body, .paper, .container, .ovladac {
        visibility: hidden;
        float: none;
    }
    .tisk {
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: none;
        -webkit-print-color-adjust: exact; /* zajistí tisk barev i grafiky pozadí */
    }
    @page {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
}